name: Run Selenium + Cucumber Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 3,9,15,21 * * *"

permissions:
  contents: write
  pages: write

jobs:
  test-and-report:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

        # JDK
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Grant execute perm to gradlew
        run: chmod +x gradlew

        # Ejecutar pruebas
      - name: Run tests
        if: always()
        run: ./gradlew clean test

        # Descargar historial previo de GH Pages
      - name: Load test report history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

        # Construcción del reporte
      - name: Build Allure Report
        uses: simple-elf/allure-report-action@v1.7
        if: always()
        with:
          allure_results: build/allure-results
          gh_pages: gh-pages
          allure_history: allure-history
          keep_reports: 20

        # Publicación
      - name: Publish report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
