name: Run Selenium + Cucumber Tests

on:
  push:
    branches: [ "main" ]

  pull_request:
    branches: [ "main" ]

  schedule:
    - cron: "0 3,9,15,21 * * *"   # 00:00, 06:00, 12:00 y 18:00 en Uruguay

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute perm to gradlew
        run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew clean test --info

      - name: Upload allure-results artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: build/allure-results

  publish-allure:
    runs-on: ubuntu-latest
    needs: test

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download allure results
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: allure-results

      - name: Install Allure CLI
        run: |
          sudo apt update
          sudo apt install -y default-jre
          sudo apt install -y allure

      - name: Generate Allure Report
        run: |
          allure generate allure-results --clean -o allure-report

      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-report
